/************************  
/ main-content 
*************************/
.book-body { /* background */
    background-color: #f3f2e9; 
    }

.markdown-section h1 { /* libguide chapter heading */
    background-color: #cb132a;
    color:            #ffffff;
    font-size:        2em;	
    padding-left:     1em;
    }

.page-inner { /* foreground */
    background-color: #ffffff;
    }

/************************  
/ side-bar
************************/
.book-summary { /* background color */
    background-color: #f3f2e9; 
    }

.book-summary ul.summary li a:hover { /* hover style */   
    background-color: #cb132a;
    color:            #ffffff;
    text-decoration:  none;
    }

.custom-link { /* link to guide description */
    font-size:        larger;
    }

a.gitbook-link { /* hide gitbook link */
    display:          none !important;
    }

/*********************** 
/ header 
************************/
.book-header {
    background-color: #d9e8e9;
    }   